h1 {
    font-size: 32px;
    margin-top: 20px;
}
.empty {
    background-color: rgb(210, 235, 245);
    border: 1px rgb(192, 227, 242) solid;
    font-size: 16px;
    padding: 12px 20px;
    a {
        color: black;
    }
}
div + div {
    border-top: 1px solid rgb(204, 204, 204);
}
