<h1>SHOPPING CART</h1>
<div class="empty">Your cart is empty <a routerLink='/'>Go Back</a></div>
<table>
    <tbody>
        <tr *ngFor='let item of products; let i = index'>
            <td><img src="{{referer}}{{item.product.image}}" [alt]="item.product.name"></td>
            <td>{{item.product.name}}</td>
            <td>${{item.product.price}}</td>
            <td>

                <select [name]="i.toString()" class="form-control qty">
                    <option [value]="i+1" *ngFor='let val of counts(item.product.countInStock); let i = index'
                        [attr.selected]='i==0?true:null'>
                        {{i+1}}
                    </option>
                </select>

            </td>
        </tr>
    </tbody>
</table>