<div class="wrapper">
    <h1>SIGN IN</h1>
    <div role="alert" class="fade alert alert-danger show" *ngIf="submitted && shower">
        Invalid email or password </div>
    <form [formGroup]='logForm' (submit)='onSubmit()'>
        <label>Email Address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter email"
            formControlName='email'>
        <label>Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter password"
            formControlName='password'>
        <app-btn type="submit" text="SIGN IN" classForComp="button"></app-btn>
    </form>
</div>