<div class="wrapper">
    <div class="product">
        <img (click)='goToProduct()' class="pointer" src="{{referer}}{{product.image}}" alt="">
        <div class='card-content'>
            <span (click)='goToProduct()' class="pointer">{{product.name}}</span>
            <br>
            <div class='rating'>
                <app-stars [rating]='product.rating'></app-stars>
                &nbsp;<span>{{product.numReviews}} reviews</span>
            </div>
            <h3>$ {{product.price}}</h3>
        </div>
    </div>
</div>