.wrapper {
    padding: 0 15px;
}
.product {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin-bottom: 32px;
    padding: 16px;
    img {
        width: 100%;
    }
    .card-content {
        padding: 17px;
    }
    a {
        color: black;
        font-weight: 300;
        font-size: 16px;
    }
    .rating {
        display: flex;
        margin: 10px 0;
        span {
            margin-top: 2px;
        }
    }
    span:last-child {
        font-size: 14px;
    }
    h3 {
        font-size: 25px;
    }
}
.pointer {
    cursor: pointer;
}
span.pointer:hover {
    text-decoration: underline;
}
