<mat-spinner *ngIf='loader'></mat-spinner>
<ng-container *ngIf='!loader'>
    <app-btn classForComp='back' routerLink='/' text='GO BACK'></app-btn>
    <div class="product">
        <img src="{{referer}}{{product.image}}" alt="ss">
        <section>
            <div class="column">
                <div class="info">
                    <h3>{{product.name | uppercase}}</h3>
                </div>
                <div class="info">
                    <div class="box-for-stars">
                        <app-stars [rating]='product.rating'></app-stars>
                        <span>{{product.numReviews}} reviews</span>
                    </div>

                </div>
                <div class="info">
                    Price: ${{product.price}}
                </div>
                <div class="info">
                    Description: {{product.description}}
                </div>
            </div>
            <div class="column">
                <div class="bord">Price:
                    <p>${{product.price}}</p>
                </div>
                <div class="bord">Status:
                    <p><span *ngIf='product.countInStock > 0; else outOf'>In stock</span>
                        <ng-template #outOf>Out Of Stock</ng-template>
                    </p>
                </div>
                <div class="bord">
                    Qty <p>
                        <app-select [allCount]='product.countInStock' [count]='count' (outCount)='outCount($event)'>
                        </app-select>
                    </p>
                </div>
                <div class="bord">
                    <app-btn routerLink='/cart' [empty]='product.countInStock === 0' classForComp='addCart'
                        (click)='addToCart()' text='ADD TO CARD'></app-btn>
                </div>
            </div>
        </section>

    </div>
    <app-review [product]='product'></app-review>
</ng-container>