$brdGray: rgb(211, 211, 211);
.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    img {
        width: 50%;
    }
    section {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .column {
        width: 47%;
    }
    .info:not(:last-child) {
        border-bottom: 1px solid $brdGray;
    }
    .info {
        padding: 15px;
    }
    .info:nth-child(2) {
        display: flex;
        align-items: flex-end;
        span:last-child {
            margin-left: 5px;
        }
    }
    .box-for-stars {
        display: flex;
        align-items: center;
    }
    .bord {
        border: 1px solid $brdGray;
        padding: 15px;
        display: flex;
        p {
            width: 50%;
            margin-left: auto;
            margin-bottom: 0;
        }
        app-btn {
            width: 100%;
        }
    }
    .bord + .bord {
        border-top: none;
    }
}
@media (max-width: 1045px) {
    .product {
        flex-direction: column;
        align-items: center;
        section {
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .product section {
        flex-direction: column;
        .column {
            width: 100%;
        }
    }
}
